.loader {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 50;
  overflow: hidden;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.75;
}

.loader .loader__inner {
  -webkit-transition: all ease-in;
  transition: all ease-in;
  border-bottom: 5px solid gray;
  height: 48px;
  width: 48px;
  width: 48px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.loader h2 {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.loader p {
  width: 33%;
  text-align: center;
  color: #ffffff;
}
