@import '../../scss/variables/Variable.scss';
.input {
  span {
    font-size: 14px;
    color: $lightBlue;
    font-weight: bold;
  }
  input {
    display: block;
    margin: 20px auto;
    width: 100%;
    display: block;
    padding: 6px 10px;
    border-color: $white;
    border: 1px solid $gray;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
input:focus::placeholder {
  color: $gray;
  background-color: $white;
  border: 1px solid $gray;
  outline: none;
}
input::placeholder {
  color: $gray;
}
input:focus {
  outline: none;
}
