@import '../../scss/variables/Variable.scss';
.app {
  height: 200px;
}
.jobs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 170px 20px;
  .job__home_logo {
    cursor: pointer;
    i {
      font-size: 0.8rem;
    }
    color: #fff;
    font-size: 0.8rem;
  }
  h2 {
    color: $white;
  }
}
.all__jobs {
  display: flex;
  flex-wrap: wrap;
}
.all__jobs-job {
  width: 250px;
  margin: 10px;
  flex-grow: 1;
}
@media screen and (max-width: 1024px) {
  .jobs {
    margin: 10px 100px 20px;
  }
  .all__jobs {
    display: flex;
  }
  .all__jobs-job {
    width: 30%;
    margin: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .jobs {
    margin: 10px 100px 20px;
  }
  .all__jobs {
    display: flex;
  }
  .all__jobs-job {
    width: 45%;
    margin: 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .jobs {
    margin: 20px;
  }
  .all__jobs {
    display: flex;
  }
  .all__jobs-job {
    width: 100%;
  }
}
.no_job_applied_wrap {
  i {
    color: $borderBlue;
    text-align: center;
    font-size: 5rem;
  }
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_job_applied {
  text-align: center;
}
button {
  letter-spacing: normal !important;
}
// .jobs {
//   position: relative;
// }
.pagination__block {
  // position: absolute;
  // bottom: 0%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
