@import '../../scss/variables/Variable.scss';
.app {
  height: 200px;
}
.job_heading_container {
  margin: 0 30px;
  .job__home_logo {
    margin-bottom: 20px;
  }
  .job_heading {
    margin-bottom: 10px;
  }
}
.jobs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 170px 20px;
  .job__home_logo {
    cursor: pointer;
    i {
      font-size: 0.8rem;
    }
    color: #fff;
    font-size: 0.8rem;
  }
  h2 {
    color: $white;
  }
}
//  display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-column-gap: 20px;
//     grid-row-gap: 20px;
.all__jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.all__jobs-job {
  width: 250px;
  margin: 10px;
  // flex-grow: 1;
  .jobCard {
    min-height: 24vh;
  }
}
@media screen and (max-width: 1920px) {
  .job_heading_container {
    margin: 0 120px;
    .job__home_logo {
      // margin-bottom: 10px;
    }
  }
  .all__jobs-job {
    // flex-grow: 1;
    .jobCard {
      min-height: 18vh;
    }
  }
}
@media screen and (max-width: 1440px) {
  .job_heading_container {
    margin: 0 120px;
  }
  .all__jobs-job {
    // flex-grow: 1;
    .jobCard {
      min-height: 20vh;
    }
  }
}
@media screen and (max-width: 1368px) {
  .job_heading_container {
    margin: 0 30px;
  }
  .all__jobs-job {
    // flex-grow: 1;
    .jobCard {
      min-height: 24vh;
    }
  }
}
@media screen and (max-width: 1024px) {
  .jobs {
    margin: 10px 100px 20px;
  }
  .all__jobs {
    display: flex;
  }
  .all__jobs-job {
    width: 30%;
    margin: 0 10px;
    .jobCard {
      min-height: 18vh;
    }
  }
}
@media screen and (max-width: 768px) {
  .jobs {
    margin: 10px 100px 20px;
  }
  .all__jobs {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap: 20px;
    // grid-row-gap: 20px;
  }
  .all__jobs-job {
    width: 45%;
    margin: 0 10px;
    .jobCard {
      min-height: 13vh;
    }
  }
}
@media screen and (max-width: 425px) {
  .job_heading_container {
    margin: 0 20px;
    .job__home_logo {
      margin-bottom: 20px;
    }
    .job_heading {
      margin-bottom: 10px;
    }
  }
  .jobs {
    margin: 0px;
  }
  .all__jobs {
    display: flex;
  }
  .all__jobs-job {
    width: 100%;
  }
}
.no_job_applied_wrap {
  i {
    color: $borderBlue;
    text-align: center;
    font-size: 5rem;
  }
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_job_applied {
  text-align: center;
}
button {
  letter-spacing: normal !important;
}
// .jobs {
//   position: relative;
// }
.pagination__block {
  // position: absolute;
  // bottom: 0%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
