@import '../../scss/variables/Variable.scss';

.home {
  background-image: linear-gradient(to right, $darkBlue, $lightBlue);
  height: 400px;
  width: 100%;
  color: $white;
  .main__section {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
    // align-items: center;
    .left__section {
      // height: 25vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .home_heading {
      margin-top: 100px;
      .main_h1 {
        line-height: 1;
        font-weight: normal;
        font-size: 4rem;
      }
      span {
        color: $skyBlueDark;
      }
    }
    button {
      margin-top: 15px;
      padding: 15px 25px;
      letter-spacing: 0.5px;
      font-size: 16px;
    }
  }

  .img2 {
    margin-top: 70px;
    width: 45%;
    img {
      border-radius: 20px;
      width: 100%;
    }
  }
}

// .section__two {
//   margin: 250px 100px 0;
// }
.card__wrap {
  display: flex;
  flex-wrap: wrap;
  // * {
  //   flex-grow: 1;
  // }
}
.card__heading {
  color: $lightBlue;
  font-weight: bolder;
  margin-left: 20px;
}
.section__two,
.section__three {
  margin: 70px 100px 0;
}
.section__three {
  padding-bottom: 70px;
}
.clients {
  display: flex;
  flex-wrap: wrap;
}
.clients .img {
  width: 50px;
}
.clients img {
  width: 100%;
}
.client {
  flex-grow: 1;
  width: 150px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 30px;
}

@media screen and (max-width: 1920px) {
  .home {
    .main__section {
      button {
        margin-top: 40px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .home {
    height: 380px;
    .main__section {
      button {
        margin-top: 40px;
      }
    }
  }
}
@media screen and (max-width: 1368px) {
  .home {
    height: 350px;
    .main__section {
      button {
        margin-top: 20px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .home {
    height: 300px;
    .main__section {
      .home_heading {
        margin-top: 90px;
        .main_h1 {
          font-size: 2.5rem;
        }
      }
      button {
        margin-top: 40px;
      }
    }
    .section__two {
      margin: 50px 100px 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .home {
    height: 230px;
    .main__section {
      margin: 0 100px;
      .home_heading {
        .main_h1 {
          font-size: 1.6rem;
        }
      }

      button {
        padding: 8px 12px;
        letter-spacing: 0.5px;
        font-size: 14px;
        margin-top: 10px;
      }
    }
    .img2 {
      margin-top: 70px;
      width: 55%;
      img {
        border-radius: 20px;
        width: 100%;
      }
    }
  }
  .client {
    // margin: 20px auto;
    // justify-content: initial;
  }
}
@media screen and (max-width: 425px) {
  .home {
    height: 230px;
    .main__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      margin-bottom: 40px;
      .home_heading {
        margin: 0px 0 20px 0;
        .main_h1 {
          font-size: 2rem;
          // margin-right: 2px;
        }
      }
      .button_wrap_home {
        display: flex;
        justify-content: center;
      }
      button {
        padding: 5px 10px;
        letter-spacing: 0.5px;
        font-size: 12px;
        margin: 10px 0;
      }
    }
    .img2 {
      margin-top: 0px;
      width: 80%;
      img {
        border-radius: 20px;
        width: 100%;
      }
    }
    .heading_inner {
      display: flex;
      line-height: 1.5;
    }

    .section__two {
      margin: 0;
    }
  }

  .section__two,
  .section__three {
    margin: 50px 20px 0;
  }
  .client {
    flex-grow: 1;
    width: 80px;
    margin: 10px auto;
    font-size: 15px;
  }
  .clients .img {
    width: 20px;
  }
}
