@import '../../../scss/variables/Variable.scss';
.app {
  height: 300px;
}
.postAJob {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  textarea {
    // border: 1px solid $gray;
    display: block;
    width: 100%;
    margin: auto;
    outline: none;
  }
}
.d {
  textarea {
    display: block;
    display: block;
    padding: 6px 10px;
    border-color: $white;
    border: 1px solid $gray;
  }
}

textarea:focus::placeholder {
  color: $gray;
  background-color: $white;
  border: 1px solid $gray;
  outline: none;
}
textarea::placeholder {
  color: $gray;
}
input:focus {
  outline: none;
}
// #postJob {
//   color: $lightBlue;
// }
.description {
  margin: 20px 0;
}
.button_wrap {
  margin-top: 50px;
  margin-bottom: 20px;
}
