@import '../../scss/variables/Variable.scss';
.jobCard {
  color: $lightBlue;
  background-color: $white;
  padding: 8px 12px;
  min-width: 230px;
  min-height: 160px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  // span {
  //   display: block;
  //   font-size: 22px;
  //   font-weight: 400;
  //   margin-top: 10px;
  // }
  p {
    font-size: 14px;
  }
  .jobCard__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    i {
      color: $skyBlueDark;
    }
  }
}
.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.multi-line-truncate_head {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  // display: block;
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  .jobCard {
    margin: 10px;
  }
}
// .jobCard {
//   color: $darkBlue;
//   background-color: $white;
//   padding: 20px;
//   border-radius: 5px;
//   // width: 90%;
//   margin: 10px;
//   h1 {
//     color: $darkBlue;
//   }
// }
// .jobCard__bottom {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   align-items: center;
//   padding: 20px 20px;
// }
// @media screen and (min-width: 500) {
//   .jobCard {
//     width: 30%;
//   }
// }
