@import '../../../scss/variables/Variable.scss';
.container {
  margin: 50px 0;
  button {
    margin: 20px 0;
  }
}

.password__section {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: nowrap;
}
.password__section * {
  flex-grow: 1;
  // max-width: 70%;
}

.buttongroup {
  display: flex;
  column-gap: 20px;
  font-size: 14px;
}
.buttongroup label {
  border: 1px solid $gray;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: $darkBlue;
  background-color: $grayLight;
  transition: all 0.2s;
}

// .buttongroup label:not(:first-of-type) {
//   border-left: 0;
// }

.buttongroup label:hover {
  background-color: $skyBlueDark;
  color: $white;
}

/* Hide the radio button */
input[type='radio'] {
  display: none;
}

/* The checked buttons label style */
input[name='userRole']:checked + label {
  background-color: $skyBlueDark;
  border: 1px solid $skyBlueDark;
  color: $white;
}
@media screen and (max-width: 1024px) {
  .password__section * {
    flex-grow: 1;
    max-width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .password__section {
    flex-direction: column;
  }
  .password__section * {
    flex-grow: 1;
    max-width: 100%;
  }
  .buttongroup label {
    padding: 15px 10px;
  }
}

@media screen and( max-width: 500px) {
  .container {
    margin: 50px 10px;
  }
  .buttongroup {
    // justify-content: space-between;
  }
  .buttongroup label {
    padding: 10px 10px;
  }
}
