@import '../../scss/variables/Variable.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
.header__logo {
  color: $white;
  font-weight: bold;
  font-size: 15px;
  span {
    color: $skyBlueDark;
  }
}
.divider {
  border-bottom: 2px solid $borderBlue;
  margin: 0 70px;
}
// flex justify-center shadow items-center text-center  Navbar__Link-toggle
.button_active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button_inActive {
  font-size: 10px;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.Navbar__Link-toggle {
  position: absolute;
  background: #fff;
  width: 80%;
  color: black;
  padding: 15px;
  border-radius: 2%;
  font-size: 1.2rem;
  top: 15%;
  right: 10%;
  cursor: pointer;
  z-index: 99999;
}
.Navbar__Link-toggle > * {
  padding: 5px 10px;
  color: black;
}
.burger {
  display: none;
  align-items: center;
}

.header__text {
  font-size: 16px;
}
.menu__button {
  margin-left: 5px;
}
.menu__left {
  background-color: $skyBlueDark;
  color: $darkBlue;
  height: 30px;
  width: 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}
.navbar__left {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.burger {
  display: none;
}
@media (max-width: 500px) {
  .hamburger {
    display: block;
  }
  .navbar__left {
    display: none;
  }
  .navbar__left-active {
    position: fixed;
    top: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    text-align: center;
  }
  .divider {
    border-bottom: 2px solid $borderBlue;
    margin: 0 10px;
  }
  .header {
    margin: 0 30px;
  }
  .burger {
    display: block;
    img {
      width: 30px;
      background-color: #fff;
      border-radius: 5px;
    }
  }
}
i {
  color: $white;
  font-size: 1.2rem;
}
.nav__left_wrap {
  display: flex;
  align-items: center;
  * {
    margin-right: 5px;
  }
  .nav__left_wrap_inner {
    display: flex;
    .nav_form {
      display: flex;
    }
  }
}
