@import '../../scss/variables/Variable.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
.header__logo {
  color: $white;
  font-weight: bold;
  font-size: 15px;
  span {
    color: $skyBlueDark;
  }
}
.divider {
  border-bottom: 2px solid $borderBlue;
  margin: 0 70px;
}
// flex justify-center shadow items-center text-center  Navbar__Link-toggle
.button_active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login_signup {
  button {
    border: 1px solid $skyBlueDark;
  }
}
.button_inActive {
  font-size: 10px;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.Navbar__Link-toggle {
  position: absolute;
  background: #fff;
  width: 80%;
  color: black;
  padding: 15px;
  border-radius: 2%;
  font-size: 1.2rem;
  top: 15%;
  right: 10%;
  cursor: pointer;
  z-index: 99999;
}
.Navbar__Link-toggle > * {
  padding: 5px 10px;
  color: black;
}
.burger {
  display: none;
  align-items: center;
}

.header__text {
  font-size: 16px;
}
.menu__button {
  margin-left: 5px;
}
.menu__left {
  background-color: $skyBlueLight;
  color: $darkBlue;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  // // font-size: 1.2rem;
  text-transform: uppercase;
  // text-align: center;
  // font-weight: bold;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border-radius: 50%;
  // margin-right: 10px;
  span {
    text-align: center;
  }
}
.navbar__left {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

@media (max-width: 500px) {
  .navbar__left-active {
    position: fixed;
    top: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    text-align: center;
  }
  .divider {
    border-bottom: 2px solid $borderBlue;
    margin: 0 10px;
  }
  .header {
    margin: 0 30px;
  }
  .burger {
    display: block;
    img {
      width: 30px;
      background-color: #fff;
      border-radius: 5px;
    }
  }
}
i {
  color: $white;
  font-size: 1.2rem;
}
.nav__left_wrap {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.nav_form p {
  display: inline-block;
}
.nav_form p {
  display: block;
  cursor: pointer;
  padding: 22px 0;
  text-decoration: none;
  color: $white;
  margin: 0 10px;
}
.nav_form p,
.nav_form p:after,
.nav_form p:before {
  transition: all 0.5s;
}
.nav_form p:hover {
  color: $gray;
}

/* stroke */
.nav_form.stroke p {
  position: relative;
}
.nav_form.stroke p:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: $skyBlueDark;
  height: 4px;
}
.nav_form.stroke p:hover:after {
  width: 60%;
}
.wrapper_dropdown {
  position: relative;

  ul {
    opacity: 0;
    visibility: hidden;
    text-align: left;
    transition: all 200ms;
  }

  &:hover ul {
    opacity: 1;
    visibility: visible;
  }
  ul {
    position: absolute;
    padding: 4px 0;
    top: 28px;
    right: 0;
    width: 80px;
    background-color: white;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.05);
    list-style-type: none;

    &:before {
      content: '';

      position: absolute;
      top: -12px;
      height: 12px;
      width: 100%;

      background-color: transparent;
    }

    &:after {
      content: '';

      position: absolute;
      right: 0px;
      top: -16px;
      height: 0;
      width: 0;

      border: 8px solid transparent;
      border-bottom-color: hsl(0, 0%, 80%);
    }
  }

  li {
    padding: 3px 15px 3px 5px;
    color: $lightBlue;
    cursor: pointer;
    transition: all 100ms;
    font-size: 14px;

    &:hover {
      background-color: hsl(0, 0%, 90%);
      color: black;
    }

    &:first-of-type:after {
      content: '';

      position: absolute;
      right: 0px;
      top: -15px;
      height: 0;
      width: 0;
      z-index: 1;

      border: 8px solid transparent;
      border-bottom-color: white;
      pointer-events: none;
    }
  }
}
