//border, background, button text, input box border
$white: #ffffff;
$red-color: #f00f00;
$black-color: #000000;
$darkBlue: #1a253c;
//gradient para and small heading
$lightBlue: #303f60;

//horizontal partition b/w nav and main section
$borderBlue: #4d618e;
//dark button border
$dark-button: #43afff33;
//big heading, button background, input:focus border
$skyBlueDark: #43afff;
//body background
$skyBlueLight: #edf6ff;
$skyBlueLighter: #557da526;
//input background
$gray: #c6c6c6;
//input box background

$grayLight: #557da526;
$grayLighter: #e8e8e833;

//danger
$redDark: #ff0000;
$redLight: #ff333380;

$boxBorder: #303f6080;
$skyBlueLightest: #d9efff;
